<div class="closetBackground">  {{!-- start of "body" baclground image tag --}}

<nav id="header">  {{!-- nav bar: some variation of this will show in every view --}}
      <div class="styleHeader">
        <a class="loginHere linkFeature" href="">About Us</a>
        <span class="seperators">  |  </span>
        <a class="loginHere linkFeature" href="">Features</a>
        <span class="seperators">  |  </span>
        <a class="loginHere linkFeature" href="">Contact Us</a>
      </div>
      <div class="styleLogin">
        <p class="account-message addedStyle">Already have an account?<br>
        <a class="loginHere" href="/login">Login Here</a></p>
      </div>
</nav>

<img class="companyLogoHeader" src="/images/allWhiteLogo.png">  {{!-- logo: positive absolute in this view only to create overlap --}}

<div class="signUpFirstView formBackground">  {{!-- div that holds header of signup form and signup form --}}
<h1 class="signUpTitle">Get Started Here...</h1>

<form action="/signup" method="POST" enctype="multipart/form-data">  {{!-- start of signup form --}}

  <div class="form-group">
    <label for="exampleInputPassword1">Username:</label>
    <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Create Username" name="username">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password:</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">First Name:</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="First Name" name="firstName">
  </div>

    <div class="form-group">
    <label for="exampleInputPassword1">Last Name:</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name" name="lastName">
  </div>

    <div class="form-group">
    <label for="exampleInputPassword1">E-mail:</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="E-mail" name="userEmail">
  </div>

  <div class="form-group">
  <label for="exampleInputPassword1" name="image">Upload Image:</label><br>
  <input type="file" name="path">
  </div>

  <button type="submit" class="btn btn-primary moreButtonStyles">Sign-Up</button>

</form>  {{!-- start of signup form --}}

</div>  {{!-- end of div that holds header of signup form and signup form --}}


{{#if message}}
<h4>{{message}}</h4>
{{/if}}

</div>  {{!-- end of "body" baclground image tag --}}



