<h2>My Outfits</h2>

   
  {{#each allOutfits}}

  <div id="holdsTheOutfit">
  <img src="{{this.top.image}}">
  <img src="{{this.bottom.image}}"> <br><br><br><br><br> 
  </div>

  {{/each}}

  <form action="/createOutfit" method="POST" enctype="multipart/form-data">
  <button type="submit" class="btn btn-primary formButtonStyle">Create New Outfit</button>  
  </form>