.clothingImg {  // styling of images in carasoul of closet page - WILL BE USED FOR CREATE OUTFITS PAGE ALSO
  width: 250px;
  margin-left: 20%;
}

.red {  // arrows on carasoul of closet page - WILL BE USED FOR CREATE OUTFITS PAGE ALSO
  background-color: #00264d;
  width: 4vw;
  height: 6vh;
}