// <><><><><><><><><><><><><><><><><>
//     CSS: for CLOSET view 
//     url: (/closet)
//     hbs: views-closet/home.hbs
// <><><><><><><><><><><><><><><><><>

.imageOneCarasoul {  // // sizing of image on closet page
  width: 300px;
  height: 35vh;
}

.navArrows {  // arrows on carasoul of closet/createOutfit page
  background-color: #00264d;
  width: 4vw;
  height: 6vh;
  filter: alpha(opacity=100);
  opacity: 1;
}

.navArrows:hover {  // arrows:hover on carasoul of closet/createOutfit page
  background-color: #00264d;
  width: 4vw;
  height: 6vh;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.closetLargeCarousel {  // sizing when only ONE carasoul is on page
  margin-top: 13%;
  margin-left: -1%;
  width: 60%;
}

#topsDiv {  // centers TOPS image
  display: flex;
  justify-content: center;
  height: 30vh;
}

#carasoulButtonCollectionDiv {  // button styling on carasoul of closet page ONLY
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#carasoulButtonCollectionDivBoth {  // "details" buttons on BOTH carasouls of closet/createOutfit page
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.closetFooter {
  display: flex;
  flex-direction: column;
}

.closetButtonSpace {
  margin-right: 4%;
  margin-left: -2%;
}

.closetAddDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 32%;
  border: 2px solid #00264d;
  padding: 1%;
  background-color: #ecf2f9;
  margin-top: 1%;
}

.backgroundClassCLoset {
  background-image: url('/images/bitBrightCloset.jpg');
  border: 2px solid #00264d;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  background-position: center;
  // background-color: #e6f3ff;
  padding-top: 2%;
  margin-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
    width: 71%;
    display: flex;
    justify-content: center;
    margin-left: 12%;
}


.closetEditAddDate {
      width: 44%;
}
