// <><><><><><><><><><><><><><><><><>
//     CSS: for PROFILE view
//     url: (/userHome)
//     hbs: views-closet/home.hbs
// <><><><><><><><><><><><><><><><><>


 .styleHeaderProfile {  // expanding 4 links div to fit all links in one line - use class for any view with 4 links
  width: 40vw;
 }

 .styleLoginProfile {  // div that holds the "menu" button/dropdown menu - will use for any nav with 4 links
  margin-left: 80%;
  text-align: right;
 }

 .menuDefaultDropdownStyles {  // customized dropdown styling - additional styling to bootstrap
  border-color: #00264d; 
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
 }

 .menuDefaultAddOns {  // customized dropdown styling - additional styling to bootstrap
   background-color: #ecf2f9;
   margin: 0;
   border: 0;
 }

 .topLinkAddOns {  // customized dropdown styling - additional styling to bootstrap
  padding-top: 1.5vh;
  padding-bottom: 1vh;
 }

 .bottomLinkAddOns {  // customized dropdown styling - additional styling to bootstrap
   border-bottom: 1px solid #00264d;
   padding-top: 1vh;
   padding-bottom: 2vh;
 }
 
 .dropDownHoverDefault:hover {  // customized dropdown hover for bottom section - additional styling to bootstrap
  background-color: #ffffff;
  color: #00264d;
  font-size: 18px;
  font-weight: bold;
 }

 .logoutAddOns {  // customized dropdown styling - additional styling to bootstrap
  background-color: #ecf2f9;
  padding-top: 1.5vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #00264d;
  border-radius: .25rem;
 }

 .logoutAddOns:hover {  // customized dropdown hover for bottom section - additional styling to bootstrap
  background-color: #ecf2f9;
  color: #00264d;
  font-size: 18px;
  font-weight: bold;
  padding-top: 1.5vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #00264d;
  border-radius: .25rem;
 }

 .coloredLink {  // customized dropdown styling - additional styling to bootstrap
  color: #ffffff;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
 }

 .coloredLink:hover {  // customized dropdown styling - additional styling to bootstrap
  background-color: #00264d;
  border: 1px solid #00264d;
 }

 .coloredLink:link {  // customized dropdown styling - additional styling to bootstrap
  color: #ffffff;
}

 .coloredLink:visited {  // customized dropdown styling - additional styling to bootstrap
  color: #ffffff;
 }

.divLink:link {
  text-decoration: none;
  color: #00264d; 
}

.divLink:visited {
  text-decoration: none;
  color: #00264d; 
}

.divLink:hover {
  text-decoration: none;
  color: #00264d; 
  filter: alpha(opacity=100);
  opacity: 1;
}

.backgroundClass {
  background-color: #e6f3ff;
  border: 2px solid #00264d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 50%;
  padding-bottom: 50%;
}

.box {
  border: 2px solid #00264d;
  width: 30%;
}
