// <><><><><><><><><><><><><><><><><>
//     CSS: for PROFILE view
//     url: (/profile)
//     hbs: views-closet/home.hbs
// <><><><><><><><><><><><><><><><><>

.fourLinkSpacing {  // width change for links on left side in nav bar - use class for any view with 4 links
  width: 12vw;
}

 .styleHeaderProfile {
  width: 40vw;
 }

 .styleLoginProfile {
  margin-left: 47vw;
  text-align: right;
 }

 .coloredLink:link {
  color: #ffffff;
}

 .coloredLink:visited {
  color: #ffffff;
 }
