// <><><><><><><><><><><><><><>
//     CSS: for SIGNUP view
// <><><><><><><><><><><><><><>

.closetBackground {  // background image on signup and login page
  background-image: url('/images/biggestClosetPhoto.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  background-position: center;
}

.threeLinkSpacing {  // width change for links on left side in nav bar - use class for any view with 3 links
  width: 6vw;
}

 .styleLoginSignup {  // left-margin for "login" section of signup page
  margin-left: 66vw;
  text-align: right;
}

.addedStyle {  // additional styling to right side of top nav bar on signup and login page
  color: #00264d;
  margin-top: 1vh;
 }

.companyLogoHeader {  // logo styling on signup page
  width: 12.5vw;
  height: 18.5vh;
  margin-left: 43.3vw;
  position: absolute;
  border: 2px solid #00264d;
}

.signUpFirstView {  // form styling on signup page
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  border: 2px solid #00264d;
  padding: 1%;
  margin-top: 9.8vw;
}


