// <><><><><><><><><><><><><><>
//     CSS: for SIGNUP view 
//     url: (/)
//     hbs: index.hbs
// <><><><><><><><><><><><><><>

.closetBackground {  // background image on signup and login page
  background-image: url('/images/biggestClosetPhoto.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  background-position: center;
}

.threeLinkSpacing {  // width change for links on left side in nav bar - use class for any view with 3 links
  width: 6vw;
}

 .styleLoginSignup {  // left-margin for "login" section of signup page
  margin-left: 66vw;
  text-align: right;
}

.addedStyle {  // additional styling to right side of top nav bar on signup/login page
  color: #00264d;
  margin-top: 1vh;
 }

.companyLogoHeader {  // logo styling on signup page
  width: auto;
  height: auto;
  border: 2px solid #00264d;
  z-index: 2;
  position: absolute;
  background-color: white;
  top: 20px;
}

.formStylingDefault {  // addition to bootstrap styling on signup/login forms
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #00264d;
  padding: 1%;
  background-color: #ecf2f9;
  top: 15vh;
}

.col-lg-12 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.col-md-12 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.centerImage {
  display: flex;
  justify-content: center;
}


