// <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
//     CSS: needed for ALL views
//     includes: default formatting, my default style additions to bootstrap
// <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>

body {  // font for all pages
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header {  // header for all pages
  display: flex;
  align-items: center;
  background-color: #f6f6ef;
  font-size: 1vw;
  margin-bottom: 1vh;
  padding-left: 1vw;
  border-bottom: 2px solid #004d00;
}

.defaultNavLabelStyle:link {  // styling for links on left side in nav bar on all pages
  color: #004d00;
  font-weight: bold;
}

.defaultNavLabelStyle:visited {  // styling for clicked links on left side in nav bar on all pages
  color: #004d00;
  font-weight: bold;
}

.formButtonStyle {  // "default" button for all pages - additional styling to bootstrap
  background-color: #00264d;
  border: 1px solid #00264d;
}












