<div class="closetBackground container">  {{!-- start of "body" background image tag --}}

{{!-- top nav bar --}}
<nav id="header" class="row"> 
      <div class="styleHeader">
        <a class="defaultNavLabelStyle threeLinkSpacing" href="">About Us</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle threeLinkSpacing" href="">Features</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle threeLinkSpacing" href="">Contact Us</a>
      </div>

      <div class="styleLoginLogin">  {{!-- redirects to sign-up page --}}
        <p class="account-message addedStyle">Not yet a member?<br>
        <a class="defaultNavLabelStyle" href="/">Sign-Up Here</a></p>
      </div>
</nav>  {{!-- end of top nav bar --}}
{{!-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> --}}
  <div class="row">
   <img class="companyLogoHeader col-lg-4 col-md-6 col-sm-12" src="/images/allWhiteLogo.png">  {{!-- logo: position absolute in signup/login view only: to create overlap --}}
  </div>

  <div class="formStylingDefault col-lg-12 col-md-12 col-sm-12">  {{!-- div that holds header of login header/form --}}
    <h1>Login</h1>

    {{!-- bootstrap form with personalized styling added --}}
    <form class="col-lg-12 col-md-12 col-sm-12" action="/login" method="POST">
    {{!-- takes the action from the /login POST route in users.js line 71 --}}

      <div class="form-group">  {{!-- div that holds username label/input of login form --}}
        <label for="exampleInputEmail1">Username:</label>
        <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" name="username" required>
        <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small>
      </div>

      <div class="form-group">  {{!-- div that holds password label/input of login form --}}
        <label for="exampleInputPassword1">Password:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
      </div>

        <button type="submit" class="btn btn-primary formButtonStyle">Login</button>  {{!-- button that SUBMITS the form--}}

    </form>  {{!-- end of login form --}}

  </div>  {{!-- end of div that holds header of login header/form --}}

</div>  {{!-- end of "body" background image tag --}}
