<nav id="header">
      <div class="styleHeaderProfile">
        <a class="defaultNavLabelStyle fourLinkSpacing" href="/closet">My Closet</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="">My Outfits</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="">Style Inspo</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="">My Style Calandar</a>
      </div>

      <div class="styleLoginProfile">
        <p class="addedStyle">Dropdown Menu<br>
        <a class="defaultNavLabelStyle" href="/logout">Logout, {{user.firstName}}</a></p>
      </div>
</nav>


