<h2>My Closet</h2>
<br>

<br><br>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div id="toManipulate" class="carousel-inner">
    <div class="forLoopClass carousel-item active">

    <a id="left_button" class= "red carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    
      <div id="topsDiv">
      <span id="theImageHolder" class="clothingImg"></span>
         <button type="button" class="btn btn-outline-secondary subBtnClass"><a id="topDetail" class="coloredLink" href="#">Top Details</a></button>
         {{!-- <button type="button" class="btn btn-outline-secondary subBtnClass"><a id="topEdit" class="coloredLink" href="#">Edit</a></button>
         <button type="button" class="btn btn-outline-secondary subBtnClass"><a id="topDelete" class="coloredLink" href="#">Delete</a></button> --}}
      </div>
      
     
  <a id="right_button" class="red carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>
</div>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div id="toManipulate" class="carousel-inner">
    <div class="forLoopClass carousel-item active">

    <a id="left_button_lower" class= "red carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

      <div id="bottomssDiv">
      <span id="theImageHolder2" class="clothingImg"></span>
      <button type="button" class="btn btn-outline-secondary subBtnClass"><a id="bottomDetail" class="coloredLink" href="#">Bottom Details</a></button>
      {{!-- <button type="button" class="btn btn-outline-secondary subBtnClass"><a id="bottomEdit" class="coloredLink" href="#">Edit</a></button>
      <button type="button" class="btn btn-outline-secondary subBtnClass"><a id="bottomDelete" class="coloredLink" href="#">Delete</a></button> --}}
      </div>

  <a id="right_button_lower" class="red carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>
</div>


{{!-- action will be POST route for creating new outfits method=POST --}}
<form id="outfitCreated" action="/createOutfit" method="POST"> 
<input type="hidden" id="theSelectedTop" name="theTop">
<input type="hidden" id="theSelectedBottom" name="theBottom">
<br>
<button class="btn btn-outline-secondary subBtnClass">Add this Outfit</button>
</form>



{{!-- API Route: to take a parameter, clothing "type"
get.clothing similar to this
resJSON all those clothings
front end JS FOR THIS PAGE
AXIOS call to that, response will be all the clothing
for each one = .image --}}

