<br>
<button class="headButton"><a href="/profile">My Profile</a></button> {{!-- must be logged in --}}
<br>

<form action="/clothing" method="POST" enctype="multipart/form-data">
    <h3>Add a new article of Clothing</h3><br><br>

{{!-- Image Upload --}}

<label class="my-1 mr-2" for="inlineFormCustomSelectPref" name="category">Upload Image</label>
<br>
<input type="file" name="path">
<br><br>


{{!-- Clothing Category Dropdown --}}

  <label class="my-1 mr-2" for="inlineFormCustomSelectPref" name="category">Clothing Category</label>
  <select class="custom-select my-1 mr-sm-2" data-style="btn-info" name="category">
    <option>Which "category" best describes this item?</option>
    <option value="ActiveWear">Active Wear</option>
    <option value="DayWear">Day Wear</option>
    <option value="NightWear">Night Wear</option>
    <option value="ActiveWear">Professional Wear</option>
    <option value="DayWear">Formal Wear</option>
  </select>
<br>


{{!-- Seasons Dropdown --}}

<label class="my-1 mr-2" for="inlineFormCustomSelectPref" name"category">Season</label>
  <select class="custom-select my-1 mr-sm-2" data-style="btn-info" name="season">
    <option >Which season is this item worn most?</option>
    <option value="Winter">Winter</option>
    <option value="Summer">Summer</option>
    <option value="Spring">Spring</option>
    <option value="Fall">Fall</option>
  </select>
<br>


{{!-- Clothing Type Dropdown (not working) --}}

  <label class="my-1 mr-2" for="inlineFormCustomSelectPref" name"category">Clothing Type</label>
  <select class="custom-select my-1 mr-sm-2" data-style="btn-info" name="type">
    <option >Which "type" best describes this item?</option>
    <option value="top">Top</option>
    <option value="bottom">Bottom</option>
    <option value="dress">Dress</option>
  </select>
<br>


{{!-- Sub-Type - String --}}

  <div class="form-group">
    <label for="exampleInputEmail1">Clothing Sub-Type</label>
    <input class="form-control" id="exampleInputEmail1" placeholder="Short Description, ex. 'crop-top'" name="subType">
  </div>


{{!-- Color - String --}}

  <div class="form-group">
    <label for="exampleInputPassword1">Color</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Color, ex. 'black'" name="color">
  </div>


{{!-- Size - Radio - not working --}}

<p>Size</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <label class="btn btn-secondary" name="size">
    <input type="radio" value="XS" name="size" autocomplete="off" checked> XS
    </label>
    <label class="btn btn-secondary">
    <input type="radio" value="S" name="size" autocomplete="off"> S
    </label>
    <label class="btn btn-secondary">
    <input type="radio" value="M" name="size" autocomplete="off"> M
    </label>
    <label class="btn btn-secondary">
    <input type="radio" value="L" name="size" autocomplete="off"> L
    </label>
    <label class="btn btn-secondary">
    <input type="radio" value="XL" name="size" autocomplete="off"> XL
  </label>
  </label>
</div><br><br>


{{!-- Last Worn - Date --}}

  <div class="form-group">
    <label for="exampleInputPassword1">Last Worn</label>
    <input type="date" class="form-control" id="exampleInputPassword1" placeholder="First Name" name="lastWorn">
  </div>

 <button type="submit" class="btn btn-primary">Create</button>

</form>


{{#if message}}
<h4>{{message}}</h4>
{{/if}}